﻿<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">Name</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div> -->
            <div class="form-group">
                <label for="username">Email</label>
                <input type="email" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Email is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Phone Number</label>
                <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Phone Number is required</div>
                    <!-- <div *ngIf="f.password.errors.minlength">Phone Number must be at least 6 characters</div> -->
                </div>
            </div>
            <div class="form-group">
                <label for="fileUpload">File Upload</label>
                <input type="file" formControlName="fileUpload" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fileUpload.errors }" mdbFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                <div *ngIf="submitted && f.fileUpload.errors" class="invalid-feedback">
                    <!-- <div *ngIf="f.fileUpload.errors.required">Phone Number is required</div> -->
                    <!-- <div *ngIf="f.password.errors.minlength">Phone Number must be at least 6 characters</div> -->
                </div>
                <!-- <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()"> -->
                <!-- <button mdbBtn color="primary" (click)="startUpload()">Start uploading</button> -->
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>